*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  color: #22162B;
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin: 40px 40px 60px;
  font-family: fantasy;
  font-weight: normal;
  text-align: center;
}
.title span {
  font-size: 50px;
  font-weight: bold;
  color: crimson;
}

#chart {
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#value-time {
  margin-top: -40px;
  font-family: fantasy;
  font-size: 30px;
  color: crimson;
}